@page "/"
@namespace FinalFantasyTacticsPartyBuilderBlazor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Assemble and customize your elite clan with this party building tool for Final Fantasy Tactics. Hire units, change jobs, and assign equipment to
          create a clan to cater to your playstyle." />
    <title>Final Fantasy Tactics Party Builder</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Treant.css" />
        <link rel="stylesheet" href="~/fonts/webfont.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/fftpartybuildertools.min.css" />
    </environment>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <environment include="Development">
        <script src="~/js/fftpartybuildertools.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/fftpartybuildertools.min.js"></script>
    </environment>
</body>
</html>
